@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="login-button">Login</button>
    <button id="refresh-button">Refresh Token</button>
    <button id="logout-button">Logout</button>
    <p>Access Token:</p>
    <p id="token"></p>
</div>

@section Scripts
{
    <script>
        const $login = $('#login-button');
        const $refresh = $('#refresh-button');
        const $logout = $('#logout-button');
        const $token = $('#token');

        getUserInfo().then((u) => {
            // neu co token thi refresh
            // nguoc lai thi login
            if (u) {
                refreshToken()
                    .then((u) => {
                        displayToken(u);
                    })
                    .catch((e) => {
                        console.error('Error refreshing token:', e);
                        login();
                    });
            } else {
                login();
            }
        });

        $login.on('click', (e) => {
            login();
        })

        $logout.on('click', (e) => {
            logout();
        })

        $refresh.on('click', (e) => {
            refreshToken()
                .then((u) => {
                    displayToken(u);
                })
                .catch((e) => {
                    console.error('Error refreshing token:', e);
                    login();
                });
        })

        function displayToken(t) {
            $token.text(JSON.stringify(t));
        }
    </script>
}