@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="login-button">Login</button>
    <button id="refresh-button">Refresh Token</button>
    <button id="logout-button">Logout</button>
    <p>Access Token:</p>
    <p id="token"></p>
</div>

@section Scripts
{
    <script>
        const loginBtn = $('#login-button');
        const refreshBtn = $('#refresh-button');
        const logoutBtn = $('#logout-button');
        const token = $('#token');

        getUserInfo().then((u) => {
            token.text(JSON.stringify(u));
        });

        loginBtn.on('click', (e) => {
            login();
        })

        logoutBtn.on('click', (e) => {
            logout();
        })

        refreshBtn.on('click', (e) => {
            refreshToken().then((u) => {
                token.text(JSON.stringify(u));
            });
        })
    </script>
}